Repository CS3219-AY2526Sem1/cs3219-ay2526s1-project-g12, pull requests merged in 2025-09, with the labels that each got.

#8 Question Backend
  qns-svc/.env.template
  qns-svc/.gitignore
  qns-svc/.python-version
  qns-svc/README.md
  qns-svc/controllers/question_controller.py
  qns-svc/migrations/models/0_20250921225359_init.py
  qns-svc/models/api_models.py
  qns-svc/models/db_models.py
  qns-svc/models/models.py
  qns-svc/pyproject.toml
  qns-svc/routes.py
  qns-svc/service/database_svc.py
  qns-svc/tests/conftest.py
  qns-svc/tests/controllers/test_question_controller.py
  qns-svc/tests/models/test_api_models.py
  qns-svc/tests/models/test_models.py
  qns-svc/tests/test_routes.py
  qns-svc/tests/utils/test_utils.py
  qns-svc/utils/logger.py
  qns-svc/utils/utils.py
  qns-svc/uv.lock
Labels: Question Service

#27 Added User Service
  PeerPrep/src/frontend/components/api.tsx
  PeerPrep/src/frontend/pages/LandingPage.tsx
  PeerPrep/src/frontend/pages/auth/Login.tsx
  PeerPrep/src/frontend/pages/auth/Register.tsx
  user_svc/.env.template
  user_svc/.gitignore
  user_svc/.python-version
  user_svc/README.md
  user_svc/alembic.ini
  user_svc/alembic/README
  user_svc/alembic/env.py
  user_svc/alembic/script.py.mako
  user_svc/alembic/versions/0d1e6130f959_create_access_token_table.py
  user_svc/alembic/versions/b1485f88291c_create_user_and_roles_tables.py
  user_svc/auth/auth.py
  user_svc/auth/dependencies.py
  user_svc/auth/router.py
  user_svc/auth/schemas.py
  user_svc/auth/user_manager.py
  user_svc/db/models.py
  user_svc/db/session.py
  user_svc/main.py
  user_svc/pyproject.toml
  user_svc/utils/logger.py
  user_svc/utils/utils.py
  user_svc/uv.lock
Labels: ui, User Service, Frontend

#30 Fix: privilege escalation bug in registration and patch user route
  PeerPrep/src/frontend/components/api.tsx
  PeerPrep/src/frontend/pages/auth/Register.tsx
  user_svc/.env.template
  user_svc/alembic/env.py
  user_svc/auth/auth.py
  user_svc/auth/schemas.py
  user_svc/auth/user_manager.py
  user_svc/db/models.py
  user_svc/db/session.py
  user_svc/pyproject.toml
  user_svc/utils/logger.py
  user_svc/utils/utils.py
  user_svc/uv.lock
Labels: bug
